:root {
    --mainColor: #0000A8;
    --subColor: #A8A8A8;
    --fontSize: 18px;
    --fontMain: "Lucida Sans Typewriter", "Lucida Console", "Bitstream Vera Sans Mono", monospace;
}

body {
    display: flex; flex-direction: column;
    width: 99vw; height: 99vh;
    background-color: var(--mainColor); color: var(--subColor);
    font-size: var(--fontSize); bottom: 0; overflow: hidden;
    font-family: var(--fontMain); margin-left: 0;
}

#taskbar {
    display: flex; flex-direction: row;
    width: 100vw; height: 36px;
    background-color: var(--subColor); color: var(--mainColor);
    position: absolute; top: 0;
}
#taskbar .tb-left { width: 45%; }
#taskbar .tb-right { width: 55%; }

/*-----------------------------------------------------------------------*/

#textspeak {
    display: flex; flex-direction: column;
    width: 100%; height: 92%; font-weight: bold;
    bottom: 36px; margin-left: 5px; margin-top: 38px;
}
#textspeak span {display: block; margin: 4px 0; }

/*-----------------------------------------------------------------------*/

.inputBox {
    width: 96vw; height: 36px; background-color: inherit;
    position: fixed; left: 1px; bottom: 0; font-size: var(--fontSize);
}
.inputBox span { padding: 0 8px; }
.inputBox input {
    width: 90%; height: inherit;
    background-color: inherit; border: none;
    font-size: var(--fontSize); color: var(--subColor);
    font-family: var(--fontMain); font-weight: bold;
} input:focus { outline: none; }

/*
    text-shadow: 2px 2px #D12F4D;

    > crying volcano
*/